.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo {
  pointer-events: none;
}
.logo img {
  position: relative;
  object-fit: scale-down;
  /* position: relative; */
  max-height: 200px;
  animation: MoveUpDown 1s linear infinite;
}

input {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

button {
  background-color: #bc0000;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover{
  background-color: #df5858;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: MoveUpDown 1s linear infinite;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
}