.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo {
  position: relative;
  /* max-height: 200px; */
  pointer-events: none;
  animation: MoveUpDown 1s linear infinite;
}

input {
  width: 300px;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: MoveUpDown 1s linear infinite;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
}